<div class="container-fluid">
  <!-- header -->
  <br>
  <!-- form -->
  <div class="row" *ngIf="!isSubmitted">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
          <h1 class="display-6">User Registration Form</h1>
          <p class="small">
            All registration requests must first pass birth date validation, and registrants must be at least 18 years old.<br>
            Please fill out the form that displays. All fields are required. <span style="color:red">*</span>
          </p>
    </div>
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
      <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

        <!-- Date of Birth -->
        <div class="form-group">
          <label for="dob"><span style="color:blue"><b>Date of Birth</b></span> <span style="color:red">*</span></label>
          <input id="dob" 
                 name="dob" 
                 type="date"
                 #dateOfBirth="ngModel" 
                 class="form-control" 
                 [(ngModel)]="model.dateOfBirth" 
                 value="{{ model.dateOfBirth }}" 
                 (ngModelChange)="onChange($event)"  
                 required />
          <div *ngIf="dateOfBirth.errors && (dateOfBirth.touched || isSubmitted)">
            <div [hidden]="!dateOfBirth.errors.required && dateOfBirth.dirty" class="help-block alert alert-warning">
              Date of Birth is required.
            </div>
          </div>
          <div *ngIf="isUnderAge">
            <div [hidden]="!isUnderAge" class="help-block alert alert-warning">
              You must be at least 18 years old to register.
            </div>
          </div>
        </div> <!-- Date of Birth -->
        
        <!-- Email -->
        <div class="form-group">
          <label for="email"><span style="color:blue"><b>Email Address</b></span> <span style="color:red">*</span></label>
          <input id="email" 
                 #email="ngModel" 
                 name="email"
                 type="text" 
                 [(ngModel)]="model.email" 
                 placeholder="Your email address, example@abc.com" 
                 class="form-control" 
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                 required />
          <div *ngIf="email.errors && (email.touched || isSubmitted)">
            <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-warning">
              Email Address is required.
            </div>
            <div [hidden]="!email.errors.pattern" class="help-block alert alert-warning">
              Invalid Email Address.
            </div>
          </div>
        </div> <!-- Email -->

        <!-- Password -->
        <div class="form-group">
          <label for="password"><span style="color:blue"><b>Password</b></span> <span style="color:red">*</span></label>
          <input id="password" 
                 #password="ngModel" 
                 name="password" 
                 type="password" 
                 [(ngModel)]="model.password" 
                 minlength="8" 
                 placeholder="your Password" 
                 class="form-control" 
                 pattern="^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$" 
                 required />
          <div *ngIf="password.errors && (password.touched || isSubmitted)">
            <div [hidden]="!password.errors.required && password.dirty" class="help-block alert alert-warning">
              Password is required.
            </div>
            <div [hidden]="!password.errors.minlength" class="help-block alert alert-warning">
              Password must be at least 8 characters.
            </div>
            <div [hidden]="!password.errors.pattern" class="help-block alert alert-warning">
              Password must:<br>
              <ul>
                <li>use both uppercase and lowercase letters (case sensitivity)</li>
                <li>include one or more numerical digits</li>
                <li>include one of these special characters: <font color="black">@ # $</font></li>
              </ul>
            </div>
          </div>
        </div> <!-- Password -->

        <!-- Name -->
        <div class="form-group">
          <label for="fullName"><span style="color:blue"><b>Full Name</b></span> <span style="color:red">*</span></label>
          <input id="fullName" 
                 #fullName="ngModel" 
                 name="fullName" 
                 type="text" 
                 [(ngModel)]="model.fullName" 
                 placeholder="your Full Name" 
                 class="form-control" 
                 required />
          <div *ngIf="fullName.errors && (fullName.touched || isSubmitted)">
            <div [hidden]="!fullName.errors.required && fullName.dirty" class="help-block alert alert-warning">
              Full Name is required.
            </div>
          </div>
        </div> <!-- Name -->

        <!-- Gender -->
        <div class="form-group">
          <label for="gender"><span style="color:blue"><b>Gender</b></span> <span style="color:red">*</span></label>
          <br>
          <input name="gender" 
                 type="radio" 
                 [(ngModel)]="model.gender" 
                 value="{{gender[0]}}" required /> Male
          <br>
          <input name="gender" 
                 type="radio" 
                 [(ngModel)]="model.gender" 
                 value="{{gender[1]}}" /> Female
        </div> <!-- Gender -->

        <!-- Address -->
        <div class="form-group">
          <label for="address"><span style="color:blue"><b>Address</b></span> <span style="color:red">*</span></label>
          <textarea row="4" cols="50" 
                    id="address" 
                    name="address" 
                    #address="ngModel" 
                    class="form-control" 
                    [(ngModel)]="model.address" 
                    required>
                    </textarea>
          <div *ngIf="address.errors && (address.touched || isSubmitted)">
            <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-warning">
              Address is required.
            </div>
          </div>
        </div> <!-- Address -->

        <!-- Country -->
        <div class="form-group">
          <label for="country"><span style="color:blue"><b>Country</b></span> <span style="color:red">*</span></label>
          <input id="country" 
                 #country="ngModel" 
                 name="country" 
                 type="text" 
                 class="form-control" 
                 [(ngModel)]="model.country" 
                 required />
          <div *ngIf="country.errors && (country.touched || isSubmitted)">
            <div [hidden]="!country.errors.required && country.dirty" class="help-block alert alert-warning">
              Country is required.
            </div>
          </div>
        </div> <!-- Country -->
  
        <!-- Contact Number -->
        <div class="form-group">
          <label for="contactNumber"><span style="color:blue"><b>Contact Number</b></span> <span style="color:red">*</span></label>
          <input id="contactNumber" 
                 #contactNumber="ngModel" 
                 name="contactNumber" 
                 type="text" 
                 class="form-control" 
                 [(ngModel)]="model.contactNumber" 
                 pattern="[()0-9 +-]*"  
                 required />
          <div *ngIf="contactNumber.errors && (contactNumber.touched || isSubmitted)">
            <div [hidden]="!contactNumber.errors.required && contactNumber.dirty" class="help-block alert alert-warning">
              Contact Number is required.
            </div>
            <div [hidden]="!contactNumber.errors.pattern" class="help-block alert alert-warning">
                Contact Number should not contain invalid characters.<br>
                Only numerical digits and these characters allowed: <font color="black">+ - ( ) whitespace</font>
            </div>
          </div>
        </div> <!-- Contact Number -->

        <div class="form-group">
          <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-success">Submit</button>
          <button type="reset" class="btn btn-danger" (click)="regForm.reset()">Reset</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Thank you -->
  <div class="row" *ngIf="isSubmitted">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
      <div class="jumbotron">
        <h1 class="display-6"><span style="color:red">Thank you.</span></h1>
          <p class="lead">The form was submitted successfully.</p>
        <hr class="my-6">
          <p class="lead">
            <a href="" class="btn btn-primary">Back</a>
          </p>
      </div>
    </div>
  </div><!-- Thank you -->

</div>